<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist OOP</title>
    <link rel="shortcut icon" href="../icon/icons8-todo-list-30.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <h1 class="title">Todo List App</h1>
        </header>
        <main>
            <div class="addTodo">
                <p class="add-title">Add Item</p>
                <input type="text" id="todo-input" placeholder="Todo Name...">
                <div class="buttons">
                    <button class="btn addTolist">Add Todo</button>
                    <button class="btn ClearAll">Remove All</button>
                </div>
            </div>
            <div class="todoList">
                <h3 class="list-title">Todo List</h3>
                <ul class="main-list">
                    <!-- <li class="todo-item">
                        <label class="todo-label completed">JS Learning</label>
                        <div class="todo-btns">
                            <button class="todo-btn complete">Complete</button>
                            <button class="todo-btn remove">Remove</button>
                        </div>
                    </li> -->
                </ul>
            </div>
        </main>
    </div>

</body>
<script src="../js/script.js"></script>

</html>